<nav class="navbar-container">
  <div class="logo-container">
    <div routerLink="/" class="logo-link">
      <div
        class="logo-image"
        [innerHTML]="logo"
      >
      </div>
      <a class="logo-title">Lagalt</a>
    </div>
  </div>

  <div class="buttons-container">
    <ng-container *ngIf="!user; else elseTemplate">
      <app-login-button class="right-margin"></app-login-button>
      <app-register-button></app-register-button>
    </ng-container>
    <ng-template #elseTemplate>
      <button 
        routerLink="/create-project"
        class="create-project-button"
      >
        Create new project
      </button>
      <profile-menu
        (profileClicked)="onProfileClick()"
        (logoutClicked)="logout()"
      ></profile-menu>
    </ng-template>
  </div>
</nav>
