.navbar-container {
  display: flex;
  height: 15vh;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.logo-container {
  display: flex;
  height: 50%;
  align-items: center;
  margin-left: 5%;
  flex: 1;
}

.logo-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.logo-link:active {
  outline: 1px solid black;
}

.logo-image {
  display: flex;
  width: 70px;
  height: 50px;
  align-items: center;
  margin-right: 1vw;
}

.logo-title {
  font-family: "Chilanka", cursive;
  color: #000000;
  font-size: 1.5em;
  text-decoration: none;
}

.logo-title:visited {
  color: #000;
}

.search-bar {
  flex: 1;
}

.buttons-container {
  display: flex;
  height: 10vh;
  width: 40vw;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}

.right-margin {
  margin-right: 2%;
}

.create-project-button {
  text-align: center;
  justify-content: center;
  padding: 1% 2%;
  border: 1px solid #28b2ff;
  background-color: #28b2ff;
  color: white;
  border-radius: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
}

.create-project-button:hover {
  cursor: pointer;
}

.profile-icon {
  cursor: pointer;
}
